.logoSection {
    max-width: 250px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
}

.brand {
    color: #3aca9d;
}

.highlight {
    color: #a855f7;
}

.subtitle {
    font-size: 14px;
    margin-top: 5px;
}

.description {
    font-size: 12px;
    color: #2d3748;
    margin-top: 8px;
}

.linksCategoriesSection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8rem;
}

.linksSection, .categoriesSection {
    max-width: 250px;
}

.sectionTitle {
    color: #edf2f7;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.list {
    list-style: none;
    padding: 0;
}

.list li {
    margin-bottom: 0.4rem;
}

.link {
    text-decoration: none;
    color: #edf2f7;
    font-size: 0.9rem;
    transition: 0.3s;
}

.link:hover {
    text-decoration: underline;
    color: darkgreen;
}


.socialSection {
    margin-right: 15rem;
    text-align: left;
}

.socialSection ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

.socialSection li {
    margin-bottom: 0.4rem;
}

.socialSection a {
    text-decoration: none;
    color: #edf2f7;
    font-size: 0.9rem;
    font-weight: 500;
    transition: 0.3s;
}

.socialSection a:hover {
    text-decoration: underline;
    color: darkgreen;
}

.sectionTitle {
    color: #a855f7;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}



/* Responsividade */
@media (max-width: 768px) {
    .linksCategoriesSection {
        flex-direction: column;
        align-items: center;
    }

    .linksSection, .categoriesSection {
        max-width: 100%;
        text-align: center;
    }
}
